name: ImplicitGenerativeCopulas
channels:
  - conda-forge
  - anaconda
  - defaults
dependencies:
  - _tflow_select=2.3.0=mkl
  - absl-py=0.10.0=py38_0
  - aiohttp=3.6.3=py38he774522_0
  - alabaster=0.7.12=py_0
  - appdirs=1.4.4=pyh9f0ad1d_0
  - arch-py=4.19=py38h294d835_0
  - argh=0.26.2=pyh9f0ad1d_1002
  - arrow=1.1.0=pyhd8ed1ab_1
  - astroid=2.5.6=py38haa244fe_0
  - astunparse=1.6.3=py_0
  - async-timeout=3.0.1=py38_0
  - async_generator=1.10=py_0
  - atomicwrites=1.4.0=pyh9f0ad1d_0
  - attrs=20.2.0=py_0
  - autopep8=1.5.6=pyhd8ed1ab_0
  - babel=2.9.1=pyh44b312d_0
  - backcall=0.2.0=pyh9f0ad1d_0
  - backports=1.0=py_2
  - backports.functools_lru_cache=1.6.4=pyhd8ed1ab_0
  - bcrypt=3.2.0=py38h294d835_1
  - binaryornot=0.4.4=py_1
  - black=21.5b0=pyhd8ed1ab_0
  - blas=1.0=mkl
  - bleach=3.3.0=pyh44b312d_0
  - blinker=1.4=py38_0
  - brotlipy=0.7.0=py38he774522_1000
  - ca-certificates=2020.12.5=h5b45459_0
  - cachetools=4.1.1=py_0
  - certifi=2020.12.5=py38haa244fe_1
  - cffi=1.14.3=py38h7a1dbc1_0
  - chardet=3.0.4=py38_1003
  - click=7.1.2=py_0
  - cloudpickle=1.6.0=py_0
  - colorama=0.4.4=pyh9f0ad1d_0
  - cookiecutter=1.7.0=py_0
  - cryptography=3.1.1=py38h7a1dbc1_0
  - cycler=0.10.0=py38_0
  - cython=0.29.23=py38h885f38d_0
  - dataclasses=0.8=pyhc8e2a94_1
  - decorator=5.0.9=pyhd8ed1ab_0
  - defusedxml=0.7.1=pyhd8ed1ab_0
  - diff-match-patch=20200713=pyh9f0ad1d_0
  - docutils=0.17.1=py38haa244fe_0
  - entrypoints=0.3=pyhd8ed1ab_1003
  - flake8=3.8.4=py_0
  - freetype=2.10.4=hd328e21_0
  - future=0.18.2=py38haa244fe_3
  - gast=0.4.0=py_0
  - google-auth=1.22.1=py_0
  - google-auth-oauthlib=0.4.1=py_2
  - google-pasta=0.2.0=py_0
  - grpcio=1.31.0=py38he7da953_0
  - h5py=2.10.0=py38h5e291fa_0
  - hdf5=1.10.4=h7ebc959_0
  - icc_rt=2019.0.0=h0cc432a_1
  - icu=58.2=ha925a31_3
  - idna=2.10=py_0
  - imagesize=1.2.0=py_0
  - importlib-metadata=2.0.0=py_1
  - inflection=0.5.1=pyh9f0ad1d_0
  - intel-openmp=2021.2.0=haa95532_616
  - intervaltree=3.0.2=py_0
  - ipykernel=5.5.5=py38h43734a8_0
  - ipython=7.23.1=py38h43734a8_0
  - ipython_genutils=0.2.0=py_1
  - isort=5.8.0=pyhd8ed1ab_0
  - jedi=0.17.2=py38haa244fe_1
  - jinja2=3.0.1=pyhd8ed1ab_0
  - jinja2-time=0.2.0=py_2
  - joblib=1.0.1=pyhd3eb1b0_0
  - jpeg=9b=hb83a4c4_2
  - jsonschema=3.2.0=pyhd8ed1ab_3
  - jupyter_client=6.1.12=pyhd8ed1ab_0
  - jupyter_core=4.7.1=py38haa244fe_0
  - jupyterlab_pygments=0.1.2=pyh9f0ad1d_0
  - keras-applications=1.0.8=py_1
  - keras-preprocessing=1.1.0=py_1
  - keyring=22.3.0=py38haa244fe_0
  - kiwisolver=1.3.1=py38hd77b12b_0
  - lazy-object-proxy=1.6.0=py38h294d835_0
  - libiconv=1.16=he774522_0
  - libpng=1.6.37=h2a8f88b_0
  - libprotobuf=3.13.0.1=h200bbdf_0
  - libsodium=1.0.18=h8d14728_1
  - libspatialindex=1.9.3=h39d44d4_3
  - libtiff=4.2.0=hd0e1b90_0
  - libxml2=2.9.12=hf5bbc77_0
  - libxslt=1.1.33=h65864e5_2
  - lxml=4.6.3=py38h292cb97_0
  - lz4-c=1.9.3=h2bbff1b_0
  - markdown=3.3.2=py38_0
  - markupsafe=2.0.1=py38h294d835_0
  - matplotlib=3.3.4=py38haa95532_0
  - matplotlib-base=3.3.4=py38h49ac443_0
  - matplotlib-inline=0.1.2=pyhd8ed1ab_2
  - mccabe=0.6.1=py_1
  - mistune=0.8.4=py38h294d835_1003
  - mkl=2021.2.0=haa95532_296
  - mkl-service=2.3.0=py38h2bbff1b_1
  - mkl_fft=1.3.0=py38h277e83a_2
  - mkl_random=1.2.1=py38hf11a4ad_2
  - multidict=4.7.6=py38he774522_1
  - mypy_extensions=0.4.3=py38haa244fe_3
  - nbclient=0.5.3=pyhd8ed1ab_0
  - nbconvert=6.0.7=py38haa244fe_3
  - nbformat=5.1.3=pyhd8ed1ab_0
  - nest-asyncio=1.5.1=pyhd8ed1ab_0
  - numpy=1.20.2=py38ha4e8547_0
  - numpy-base=1.20.2=py38hc2deb75_0
  - numpydoc=1.1.0=py_1
  - oauthlib=3.1.0=py_0
  - olefile=0.46=py_0
  - openssl=1.1.1k=h8ffe710_0
  - opt_einsum=3.1.0=py_0
  - packaging=20.9=pyh44b312d_0
  - pandas=1.2.4=py38hd77b12b_0
  - pandas-datareader=0.9.0=pyh44b312d_0
  - pandoc=2.13=h8ffe710_0
  - pandocfilters=1.4.2=py_1
  - paramiko=2.7.2=pyh9f0ad1d_0
  - parso=0.7.0=pyh9f0ad1d_0
  - pathspec=0.8.1=pyhd3deb0d_0
  - patsy=0.5.1=py38_0
  - pexpect=4.8.0=pyh9f0ad1d_2
  - pickleshare=0.7.5=py_1003
  - pillow=8.2.0=py38h4fa10fc_0
  - pip=21.1.1=py38haa95532_0
  - pluggy=0.13.1=py38haa244fe_4
  - poyo=0.5.0=py_0
  - prompt-toolkit=3.0.18=pyha770c72_0
  - property-cached=1.6.4=py_0
  - protobuf=3.13.0.1=py38ha925a31_1
  - psutil=5.8.0=py38h294d835_1
  - ptyprocess=0.7.0=pyhd3deb0d_0
  - pyasn1=0.4.8=py_0
  - pyasn1-modules=0.2.8=py_0
  - pycodestyle=2.6.0=pyh9f0ad1d_0
  - pycparser=2.20=py_2
  - pydocstyle=6.1.1=pyhd8ed1ab_0
  - pyflakes=2.2.0=pyh9f0ad1d_0
  - pygments=2.9.0=pyhd8ed1ab_0
  - pyjwt=1.7.1=py38_0
  - pylint=2.7.2=py38haa244fe_0
  - pyls-black=0.4.6=pyh9f0ad1d_0
  - pyls-spyder=0.3.2=pyhd8ed1ab_0
  - pynacl=1.4.0=py38h31c79cd_2
  - pyopenssl=19.1.0=py_1
  - pyparsing=2.4.7=pyhd3eb1b0_0
  - pyqt=5.9.2=py38ha925a31_4
  - pyreadline=2.1=py38_1
  - pyrsistent=0.17.3=py38h294d835_2
  - pysocks=1.7.1=py38_0
  - python=3.8.10=hdbf39b2_7
  - python-dateutil=2.8.1=pyhd3eb1b0_0
  - python-jsonrpc-server=0.4.0=pyh9f0ad1d_0
  - python-language-server=0.36.2=pyhd8ed1ab_0
  - python_abi=3.8=1_cp38
  - pytz=2021.1=pyhd3eb1b0_0
  - pywin32=300=py38h294d835_0
  - pywin32-ctypes=0.2.0=py38haa244fe_1003
  - pyyaml=5.4.1=py38h294d835_0
  - pyzmq=22.0.3=py38h09162b1_1
  - qdarkstyle=3.0.2=pyhd8ed1ab_0
  - qstylizer=0.2.0=pyhd8ed1ab_1
  - qt=5.9.7=vc14h73c81de_0
  - qtawesome=1.0.2=pyhd8ed1ab_0
  - qtconsole=5.1.0=pyhd8ed1ab_0
  - qtpy=1.9.0=py_0
  - regex=2021.4.4=py38h294d835_0
  - requests=2.24.0=py_0
  - requests-oauthlib=1.3.0=py_0
  - rope=0.18.0=pyhd3deb0d_0
  - rsa=4.6=py_0
  - rtree=0.9.7=py38h8b54edf_1
  - scikit-learn=0.24.2=py38hf11a4ad_0
  - scipy=1.6.2=py38h66253e8_1
  - seaborn=0.11.1=pyhd3eb1b0_0
  - setuptools=52.0.0=py38haa95532_0
  - sip=4.19.13=py38ha925a31_0
  - six=1.15.0=py_0
  - snowballstemmer=2.1.0=pyhd8ed1ab_0
  - sortedcontainers=2.4.0=pyhd8ed1ab_0
  - sphinx=4.0.1=pyh6c4a22f_1
  - sphinxcontrib-applehelp=1.0.2=py_0
  - sphinxcontrib-devhelp=1.0.2=py_0
  - sphinxcontrib-htmlhelp=1.0.3=py_0
  - sphinxcontrib-jsmath=1.0.1=py_0
  - sphinxcontrib-qthelp=1.0.3=py_0
  - sphinxcontrib-serializinghtml=1.1.4=py_0
  - spyder=5.0.2=py38haa244fe_0
  - spyder-kernels=2.0.3=py38haa244fe_0
  - sqlite=3.35.4=h2bbff1b_0
  - statsmodels=0.12.2=py38h2bbff1b_0
  - tensorboard=2.4.0=pyhc547734_0
  - tensorboard-plugin-wit=1.6.0=py_0
  - tensorflow=2.3.0=mkl_py38h37f7ee5_0
  - tensorflow-base=2.3.0=eigen_py38h75a453f_0
  - tensorflow-estimator=2.3.0=pyheb71bc4_0
  - termcolor=1.1.0=py38_1
  - testpath=0.5.0=pyhd8ed1ab_0
  - textdistance=4.2.1=pyhd8ed1ab_0
  - threadpoolctl=2.1.0=pyh5ca1d4c_0
  - three-merge=0.1.1=pyh9f0ad1d_0
  - tinycss2=1.1.0=pyhd8ed1ab_0
  - tk=8.6.10=he774522_0
  - toml=0.10.2=pyhd8ed1ab_0
  - tornado=6.1=py38h2bbff1b_0
  - tqdm=4.59.0=pyhd3eb1b0_1
  - traitlets=5.0.5=py_0
  - typed-ast=1.4.3=py38h294d835_0
  - typing_extensions=3.7.4.3=py_0
  - ujson=4.0.2=py38h885f38d_0
  - urllib3=1.25.11=py_0
  - vc=14.2=h21ff451_1
  - vs2015_runtime=14.27.29016=h5e58377_2
  - watchdog=1.0.2=py38haa244fe_1
  - wcwidth=0.2.5=pyh9f0ad1d_2
  - webencodings=0.5.1=py_1
  - werkzeug=1.0.1=py_0
  - wheel=0.36.2=pyhd3eb1b0_0
  - whichcraft=0.6.1=py_0
  - win_inet_pton=1.1.0=py38_0
  - wincertstore=0.2=py38_0
  - wrapt=1.12.1=py38he774522_1
  - xz=5.2.5=h62dcd97_0
  - yaml=0.2.5=he774522_0
  - yapf=0.31.0=pyhd8ed1ab_0
  - yarl=1.6.2=py38he774522_0
  - zeromq=4.3.4=h0e60522_0
  - zipp=3.3.1=py_0
  - zlib=1.2.11=vc14h1cdd9ab_1
  - zstd=1.4.5=h04227a9_0
  - pip:
    - pybind11==2.6.2
    - pyvinecopulib==0.5.5
    - setuptools-scm==6.0.1
